@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media only screen and (max-width: 768px) and (min-width: 240px) {
  .product {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    // background-color: pink;
    gap: 80px;

    // ** image side
    .left {
      display: flex;
      flex-direction: column-reverse; // ** the large image will come first
      // background-color: palegoldenrod;
      gap: 20px;
      margin: 0 auto;
      width: 85%; //
      //
      // ** small imgs
      .images-container {
        // background-color: black;
        display: flex;
        flex-direction: row;

        .img-box {
          margin: 0 auto;
          width: 30%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            margin-bottom: 10px;
            display: block;

            &:hover {
              border: 4px solid #000;
            }
          }
        }
      }
      // ** large images
      .mainImg {
        overflow: hidden;
        .containerImgMain-svgCursor {
          width: 100%;
          overflow: hidden;

          // position: relative;

          // #svgg {
          //   z-index: 999;

          //   width: 30px;
          //   position: absolute;
          //   bottom: 20px;
          //   right: 20px;
          // }

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
            position: relative;
            pointer-events: all;
            //
            // panning zoom
            touch-action: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            user-select: none;
          }
        }
      }
    }
    //
    // -------------------------
    //
    .right {
      // background-color: grey;
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 5px;

      h1 {
        font-size: calc(20px + 1vmin);
      }

      .price {
        color: #121212;
        font-size: calc(14px + 1vmin);
        line-height: calc(10px + 1vmin);
        font-weight: 500;
        .vat-included {
          color: #9b9b9b;
          margin: 0 0 0 3px;
          font-size: calc(10px + 1vmin);
        }
      }

      p {
        margin-top: 20px;
        text-align: left;
        max-width: 700px;
        font-size: calc(12px + 1vmin);
        line-height: calc(17px + 1vmin);
        font-weight: 300;
      }
      //  ** button
      .quantity {
        display: flex;
        align-items: center;
        margin: 40px auto 0px auto;
        gap: 10px;
        //   background-color: pink;
        button {
          width: 30px;
          height: 30px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
        }
      }
      //  ** button
      .add-btn {
        margin: 40px auto 40px auto;
        padding: 13px 32px;

        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        font-weight: 500;
        //
        //

        color: white;
      }

      .links {
        display: flex;
        gap: 5px;

        .item {
          margin: 20px auto 20px auto;
          // add to wishlist / and add to compare
          display: flex;
          align-items: center;

          gap: 5px;
          color: #9b9b9b;
          font-size: calc(7px + 1vmin);
          .btn-addToFav-compare {
            background-color: pink;
            border: 0 none;
          }
        }
      }

      .info {
        margin: 40px 0;
        // description /this will be inside a dropdown
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: rgb(43, 43, 43);
        font-size: calc(10px + 1vmin);
        line-height: calc(10px + 1vmin);

        hr {
          width: 200px;
          border: 1px solid rgb(238, 237, 237);
        }
      }

      hr {
        border: 1px solid rgb(238, 237, 237);
      }
    }
  }
}
//
//
@media only screen and (max-width: 1268px) and (min-width: 768px) {
  .product {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    // background-color: pink;
    gap: 80px;

    // ** image side
    .left {
      display: flex;
      flex-direction: column-reverse; // ** the large image will come first
      justify-content: flex-start;
      align-items: flex-start;

      gap: 20px;
      width: 40%;
      height: 100%;
      //
      // ** small imgs
      .images-container {
        // background-color: black;
        display: flex;
        flex-direction: row;

        .img-box {
          margin: 0 auto;
          width: 30%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            margin-bottom: 10px;
            display: block;

            &:hover {
              border: 4px solid #000;
            }
          }
        }
      }
      // ** large images
      .mainImg {
        overflow: hidden;
        .containerImgMain-svgCursor {
          width: 100%;
          overflow: hidden;
          position: relative;

          #svgg {
            z-index: 999;

            width: 30px;
            position: absolute;
            bottom: 20px;
            right: 20px;
          }

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
            position: relative;

            //
            // panning zoom
            touch-action: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            user-select: none;
          }
        }
      }
    }
    //
    // -------------------------
    //
    .right {
      // background-color: grey;
      width: 60%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 5px;

      h1 {
        font-size: calc(20px + 1vmin);
      }

      .price {
        color: #121212;
        margin-top: 15px;
        font-size: calc(14px + 1vmin);
        line-height: calc(10px + 1vmin);
        font-weight: 500;
        .vat-included {
          color: #9b9b9b;
          margin: 0 0 0 3px;
          font-size: calc(7px + 1vmin);
        }
      }

      p {
        margin-top: 20px;
        text-align: left;
        max-width: 700px;
        font-size: calc(8px + 1vmin);
        line-height: calc(14px + 1vmin);
        font-weight: 300;
      }
      //  ** button
      .quantity {
        display: flex;
        align-items: center;
        margin: 60px auto 0px auto;
        gap: 10px;
        //   background-color: pink;
        button {
          width: 30px;
          height: 30px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
        }
      }
      //  ** button
      .add-btn {
        margin: 40px auto 40px auto;
        padding: 13px 32px;

        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        font-weight: 500;
        //
        //
        background-color: #121212;
        color: white;
        .btn-addToFav-compare {
          background-color: pink;
          border: 0 none;
        }
      }

      .links {
        display: flex;
        gap: 5px;

        .item {
          margin: 40px auto 40px auto;
          // add to wishlist / and add to compare
          display: flex;
          align-items: center;

          gap: 5px;
          color: #9b9b9b;
          font-size: calc(5px + 1vmin);
        }
      }

      .info {
        margin: 40px 0;
        // description /this will be inside a dropdown
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: rgba(43, 43, 43, 0.581);
        font-size: calc(6px + 1vmin);
        line-height: calc(5px + 1vmin);

        hr {
          width: 200px;
          border: 1px solid rgb(238, 237, 237);
        }
      }

      hr {
        border: 1px solid rgb(238, 237, 237);
      }
    }
  }
}
//

@media only screen and (min-width: 1268px) {
  .product {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    // background-color: orange;
    gap: 80px;

    .left {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 20px;
      // background-color: rgb(205, 224, 255);

      //
      // ** small imgs
      .images-container {
        .img-box {
          flex: 1;
          height: 180px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;

            display: block;

            &:hover {
              border: 4px solid #000;
            }
          }
        }

        .img-box:nth-child(2),
        .img-box:nth-child(3) {
          margin: 10px;
        }
      }

      // ** large images
      .mainImg {
        // overflow: hidden;

        flex: 5;

        .containerImgMain-svgCursor {
          margin: 0 auto;
          // width: 600px;
          // height: 600px;
          overflow: hidden;
          // position: relative;

          // #svgg {
          //   z-index: 999;

          //   width: 30px;
          //   position: absolute;
          //   bottom: 20px;
          //   right: 20px;
          // }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;

            // // //

            touch-action: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            user-select: none;
          }
        }
      }
    }
    //
    // -------------------------
    //
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .price {
        font-size: 30px;
        color: #121212;
        font-weight: 500;
      }

      p {
        max-width: 700px;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
      }
      //  ** button
      .quantity {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        //   background-color: pink;
        button {
          width: 30px;
          height: 30px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
        }
      }
      //  ** button
      .add-btn {
        width: 250px;
        padding: 13px 32px;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        //
        //
        background-color: #121212;
        color: white;
      }

      .links {
        display: flex;
        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          color: #9b9b9b;
          font-size: 14px;
          .btn-addToFav-compare {
            background-color: rgba(243, 243, 243, 0.434);
            border: 0 none;
            //
            padding: 13px 28px;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;

            //
            transition: all 0.08s ease-in-out;
            &:hover {
              background-color: rgba(243, 243, 243, 0.656);
            }

            .icon-btn-indiv-product {
              margin: 0 5px;
              font-size: calc(2px + 1vmin);
            }
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: gray;
        font-size: 14px;
        margin-top: 30px;

        hr {
          width: 200px;
          border: 1px solid rgb(238, 237, 237);
        }
      }

      hr {
        border: 1px solid rgb(238, 237, 237);
      }
    }
  }
}
